
html,body{
    padding:0;
    margin:0;
    height:100%;
    width:100%;
}

#frame1{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    height:100%;
    width:100%;
 background-image: url("images/backgroundStart.png");
    background-size:cover;
}
#frame2{
 display:none;
 height:100%;
}
#frame3{
 display:none;
 background-image: url("images/backgroundLast.png");
 background-size: cover;
 background-position: center;
 height:100%;
 width:100%;
}

#startButton{
    height:30%;
    margin-bottom:30px;
}
#startWords{
    transform: translateY(100px);

}

#overlay{
    inset:0;
    background-color: rgba(0, 0, 0,0.8);
    position:fixed;
    z-index: 1000;
    
}
#cardDisplay{
    display:none;
    max-width:115%;
    inset:0;
    position:fixed;
    transform:translatex(-30px)
    /* z-index: 1001; */
    
}

#center{
    display:none;
    position:fixed;
    inset:0;
    align-items: center;
    justify-content: center;
    z-index:1001;
}




.openAnimation{
    animation: pop 3s ease-in forwards 
} 

@keyframes pop{
    0%{
        transform:rotate(0) scale(1);
    }
    5% { 
        transform:rotate(10deg) scale(1.02);
    }
    10% {
        transform:rotate(-10deg) scale(1.04);
    }
    15% {
        transform:rotate(10deg) scale(1.06);
    }
    20% {
        transform: rotate(-10deg) scale(1.08);
    }
    25% {
        transform: rotate(0) scale(1.1);
    }
    30% { 
        transform:rotate(10deg) scale(1.12);
    }
    35% {
        transform:rotate(-10deg) scale(1.14);
    }
    40% {
        transform:rotate(10deg) scale(1.16);
    }
    45% {
        transform: rotate(-10deg) scale(1.18);
    }
    50% {
        transform: rotate(0) scale(1.2);
    }
    55% { 
        transform:rotate(10deg) scale(1.22);
    }
    60% {
        transform:rotate(-10deg) scale(1.24);
    }
    65% {
        transform:rotate(20deg) scale(1.26);
    }
    70% {
        transform: rotate(-20deg) scale(1.28);
    }
    75% {
        transform: rotate(0) scale(1.3);
    }
    80% { 
        transform:rotate(20deg) scale(1.32);
    }
    85% {
        transform:rotate(-20deg) scale(1.34);
    }
    90% {
        transform:rotate(20deg) scale(1.36);
    }
    95% {
        transform: rotate(-20deg) scale(1.38);
    }
    100% {
        transform: rotate(0) scale(1.4);
    }
}


#khung{
    display:flex;
    height:100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    background-image: url("images/backgroundPresent.png");
    background-size:cover;
}